@charset "utf-8";
*{
    padding: 0 0;
    margin: 0 auto;
    list-style: none;
    box-sizing: border-box;
    font-family: 'IM_Hyemin-Bold';
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
    color: #464646;
}
html, body{
    width: 100%;
    height: 100%;
}
.wrap{
    width:100%;
    height: 100%;
    position: relative;
    top:0;
    left:0;
}
.header{
    width: 230px;
    height: 100%;
    float: left;
    position: fixed;
    background-color: #7798a5;
    font-family: 'IM_Hyemin-Bold';
}
.headerimg{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}
.headerimg img{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.logo{
    width: 230px;
    height: 150px;
    padding-left: 20px;
    position:absolute;
    top:0;
    left:0;
}
.nav{
    width: 230px;
}
.menu{
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 100px;
    left: 60px;
}
.menu li{
    height: 50px;
    width: 100px;
}
.menu li:hover > a{
    color: #ffffff;
}
.about a {
    font-size: 20px;
}
.about a:hover{
    font-size: 0;
}
.about a:hover:before{
    content: '소개';
    font-size: 20px;
}
.shop a {
    font-size: 20px;
}
.shop a:hover{
    font-size: 0;
}
.shop a:hover:before{
    content: '상점';
    font-size: 20px;
}
.board a {
    font-size: 20px;
}
.board a:hover{
    font-size: 0;
}
.board a:hover:before{
    content: '게시판';
    font-size: 20px;
}
.mypage a {
    font-size: 20px;
}
.mypage a:hover{
    font-size: 0;
}
.mypage a:hover:before{
    content: '마이페이지';
    font-size: 20px;
}
.contents{
    position: absolute;
    width: calc(100% - 230px);
    height: 100%;
    float: left;
    left: 230px;
    top: 0;
    right:0;
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right:0;
}
.slide div{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
.slide div img{
    width: 100%;
    height: 100%;
}