@charset "uft-8";

@media all and (min-width:1024px){
     /*스타일입력*/
    }
    /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
    @media all and (min-width:768px) and (max-width:1023px) {
        /*스타일입력*/
    }
    /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
    @media all and (max-width:375px) {
        *{
            padding: 0 0;
            margin: 0 auto;
            list-style: none;
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
        }
        a{
            text-decoration: none;
            color: #333333;
        }
        html, body{
            width: 100%;
            height: 100%;
            scroll-behavior:smooth;
        }
        .wrap{
            width: 100%;
            height: 100%;
        }
        .aside{
            width: 100%;
            height: 10%;
            /* background-color: aqua; */
        }
        .logo{
            width: 25%;
            height: auto;
            float: left;
            padding-top: 21px;
            background-color: darkgreen;
        }
        .logo img{
            width: 100%;
            height: 100%;
        }
        .shop{
            width: 30%;
            height: 50px;
            margin: 0 auto;

        }
        .nav{
            width: 75%;
            height: 100%;
            float: right;
            background-color: darkgoldenrod;
            padding-top: 40px;
        }
        .menu li{
            float: left;
            width: 25%;
            height: 100%;
            font-size: 0.9em;
            text-align: center;
        }
        .contents{
            width: 100%;
            height: auto;
        }
        .img_slide{
            width: 100%;
            height: 200px;
            position: relative;
            overflow: hidden;
        }
        .slide{
            width: 100%;
            height: 200px;
            background-color: darkmagenta;
            position: absolute;
        }
        .slide li{
            width: 100%;
            height: 1125px;
            float: left;
        }
        .topnav{
            width: 100%;
            height: 100px;
            background-color: darkorange;
        }
        .topnav li{
            float: left;
            width: 20%;
            height: auto;
            text-align: center;
        }
        .topnav_list{
            width: 100%;
            height: 50px;
            background-color: cornflowerblue;
            padding-top: 20px;
        }
        .product{
            width: 100%;
            height: auto;
            background-color: darksalmon;
        }
        .product_image{
            width: 100%;
            height: auto;
        }
        .product_image li{
            width: 50%;
            height: auto;
            float: left;
            margin: 40px 0 20px 0;
            background-color: darkmagenta;
        }
        .product_detail li{
            width: 50%;
            height: 30px;
            float: left;
            text-align: center;
            font-size: 0.9em;
            background-color: darkkhaki;
        }
        .pagenum{
            width: 100%;
            height: auto;
            background-color: rgb(109, 138, 65);
            text-align: center;
            font-size: 0.9em;
            margin-top: 20px;
        }
        .footer{
            width: 100%;
            height: auto;
            font-size: 0.9em;
        }
        .scroll{
            display:scroll;
            position:fixed;
            bottom:10px;
            right:10px;
            float: right;
        }
    }