@charset "utf-8";
*{
    padding: 0 0;
    margin: 0 auto;
    list-style: none;
    box-sizing: border-box;
    font-family: 'IM_Hyemin-Bold';
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior:smooth;
}
a{
    text-decoration: none;
    color: #464646;
}
body{
    width: 100%;
    height: 100%;
}
.header{
    width: 230px;
    height: 100%;
    float: left;
    position: fixed;
}
.headerimg{
    height: 100%;
    position: absolute;
    bottom: 0;
}
.headerimg img{
    width: 100%;
    height: 100%;
}
.logo{
    width: 230px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
}
.menu{
    line-height: 50px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-family: 'IM_Hyemin-Bold';
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 1.5em;
}
.menu li{
    height: 50px;
}
.menu li:hover > a{
    color: white;
}
.about a {
    font-size: 20px;
}
.about a:hover{
    font-size: 0;
}
.about a:hover:before{
    content: '소개';
    font-size: 20px;
}
.shop a {
    font-size: 20px;
}
.shop a:hover{
    font-size: 0;
}
.shop a:hover:before{
    content: '상점';
    font-size: 20px;
}
.board a {
    font-size: 20px;
}
.board a:hover{
    font-size: 0;
}
.board a:hover:before{
    content: '게시판';
    font-size: 20px;
}
.mypage a {
    font-size: 20px;
}
.mypage a:hover{
    font-size: 0;
}
.mypage a:hover:before{
    content: '마이페이지';
    font-size: 20px;
}

.contents{
    position: absolute;
    width: calc(100% - 230px);
    float: left;
    margin-left: 230px;
    top: 0;
}
.topnav{
    width: 100%;
    height: 250px;
    padding-top: 50px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}
.toptulip{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.about_text{
    display: block;
    text-align: center;
}
.topnav p{
    text-align: center;
    top: 150px;
    padding-top: 30px;
}
.aboutapri{
    padding-top: 100px; 
    padding-bottom: 50px;
    width: 700px;
    text-align: center;
}
.aboutapri img{
    width: 100%;
    height: 100%;
}
.footer{
    width: 100%;
    height: 250px;
}
.footer_img{
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 60px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.footer_des{
    width: 100%;
    float: left;
    padding-left: 80px;
    color: #616161;
    font-size: 0.9em;
    font-family: 'Noto Sans KR', sans-serif;
}
.footer_des li{
    float: left;
    width: 25%;
}
.youtube{
    width: 50px;
}
.youtube img{
    width: 100%;
}
.talk{
    width: 50px;
}
.talk img{
    width: 100%;
}
.insta{
    width: 50px;
}
.insta img{
    width: 100%;
}
.scroll{
    display:scroll;
    position:fixed;
    bottom:10px;
    right:10px;
}